@font-face {
    font-family: 'Fira Code';
    src: url('/assets/fonts/fira_code.woff2') format('woff2');
}

@font-face {
    font-family: 'Fira Mono';
    src: url('/assets/fonts/fira_mono.woff2') format('woff2');
}

@font-face {
    font-family: 'United Sans Light';
    src: url('/assets/fonts/united_sans_light.woff2') format('woff2');
}

@font-face {
    font-family: 'United Sans Medium';
    src: url('/assets/fonts/united_sans_medium.woff2') format('woff2');
}
